@import 'vars';

.weather-card {
  display: flex;
  width: 820px;
  height: 590px;

  .city-mask {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
    &.minsk {
      background-image: url('../../assets/images/cities/minsk.jpg');
    }
  }

  .weather-card-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 28px;
    color: #fff;

    &.rain {
      background: $bg-rain;
    }

    &.sunny {
      background: $bg-sunny;
    }
  }

  .left-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 20px 0 40px;

    .left-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .left-forecasts-block {
      display: flex;
      gap: 20px;
      width: 365px;
    }
  }

  .right-col {
    width: 45%;
    padding: 4px 30px;
    background-color: rgba(214, 214, 214, 0.15);

    > * {
      padding: 20px 0;
    }

    > * + * {
      border-top: 2px solid rgba(255, 255, 255, 0.26);
    }
  }

  .right-header {
    display: flex;
    justify-content: center;

    > * + * {
      margin-left: 11px;
    }

    .location-title {
      color: #fff;
      font-weight: 300;
      font-size: 16px;
    }
  }

  .sun-clock {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  .weather-extended {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 5px;
  }
}