.pokemon-fav {
  position: absolute;
  top: -1px;
  right: -2px;
  padding: 4px ;
  color: #363636;
  font-size: 22px;
  line-height: 1;
  background: none;
  border: none;
  cursor: pointer;
}

.icon-subscribed {
  color: #ffd349;
}